In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Book1.csv')

In [3]:
df.head()

        fever  bodypain  age  runny nose  diffbreath  infectionprob
0  100.384368         1   67           1           0              1
1   99.700680         0   28           0           0              0
2   99.852493         1   79           1          -1              0
3   98.798598         0   40           0          -1              1
4  101.589365         0   13           1          -1              1

In [4]:
df.tail()

            fever  bodypain  age  runny nose  diffbreath  infectionprob
21842   98.976763         0   61           0          -1              1
21843  101.985932         0   99           0           1              0
21844   98.158671         1   88           1          -1              0
21845  100.066795         1   39           0           1              1
21846  100.564302         0   40           1           1              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21847 entries, 0 to 21846
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          21847 non-null  float64
 1   bodypain       21847 non-null  int64
 2   age            21847 non-null  int64
 3   runny nose     21847 non-null  int64
 4   diffbreath     21847 non-null  int64
 5   infectionprob  21847 non-null  int64
dtypes: float64(1), int64(5)
memory usage: 1.0 MB

In [6]:
df.describe()

,fever,bodypain,age,runny nose,diffbreath,infectionprob
count,21847.000000,21847.000000,21847.000000,21847.000000,21847.000000,21847.000000
mean,99.991401,0.500343,50.693551,0.500023,0.012496,0.504005
std,1.159125,0.500011,28.823262,0.500011,0.816261,0.499995
min,98.000056,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.978114,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.988641,1.000000,51.000000,1.000000,0.000000,1.000000
75%,101.003991,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.999598,1.000000,100.000000,1.000000,1.000000,1.000000

In [7]:
df['diffbreath'].value_counts()

 1    7416
 0    7288
-1    7143
Name: diffbreath, dtype: int64

In [8]:
import numpy as np

In [9]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffeld = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffeld[:test_set_size]
    train_indices = shuffeld[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([4, 6, 3, 1, 5, 0, 2])

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

            fever  bodypain  age  runny nose  diffbreath  infectionprob
15490  101.081187         0   84           0          -1              0
14076  100.860546         0    4           1           0              1
12692   99.147762         1   33           1          -1              0
18720  101.320120         1   73           1           0              1
11747   99.665281         0   16           0          -1              1
...           ...       ...  ...         ...         ...            ...
11964   99.744388         0   77           0           1              0
21575   98.313705         1   96           0           0              0
5390   101.060059         1   50           0          -1              0
860    101.343104         1   60           1           1              1
15795  101.629763         1   62           1           1              1

[17478 rows x 6 columns]

In [13]:
test

            fever  bodypain  age  runny nose  diffbreath  infectionprob
4489   100.979183         1   97           0           1              0
18252   99.746916         1   60           0           1              0
18124  101.528077         1   80           1          -1              0
10418  101.160392         1   59           0           1              0
3213   101.627374         1    4           0          -1              1
...           ...       ...  ...         ...         ...            ...
16572  100.790222         0   55           0          -1              0
8441   100.399448         1   21           1          -1              1
6920    98.121840         0   56           1           1              1
14265  100.181669         0   93           0          -1              1
1274    98.871031         1   57           0          -1              0

[4369 rows x 6 columns]

In [14]:
x_train = train[['fever', 'bodypain', 'age', 'runny nose', 'diffbreath']].to_numpy()
x_test = test[['fever', 'bodypain', 'age', 'runny nose', 'diffbreath']].to_numpy()

In [15]:
y_train = train[['infectionprob']].to_numpy().reshape(17478, )
y_test = test[['infectionprob']].to_numpy().reshape(4369, )

In [16]:
y_train

array([0, 1, 0, ..., 0, 1, 1], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
inputfeatures = [100, 1, 22, -1, 1]
infprob = clf.predict_proba([inputfeatures])[0][1]

In [20]:
infprob

0.508004598643165